* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --borderRadius: 5px;
    --primaryBGcol: rgb(255, 232, 182);
    --secondBGcol: rgb(242, 217, 167);
    --primaryBorderColor: rgb(227, 197, 131);
    --secondaryBorderColor: rgb(237, 214, 164);
    --XOcolor: rgb(180, 151, 87);
    --hoverColor: rgba(242, 217, 167, 0.671);
    --activeColor: rgb(234, 209, 161);
}

html, 
body, .body-container {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primaryBGcol);
    
    z-index: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* GAME CONTAINER */
.container {
    --px: 500px;

    width: var(--px);
    height: var(--px);
    --squareWH: calc(var(--px) / 3);

    display: flex;
    flex-wrap: wrap;

    border-radius: var(--borderRadi);
    background-color: var(--secondBGcol);
    outline: 3px solid var(--secondaryBorderColor);
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;

    --borderPxSize: 3px;
    width: var(--squareWH);
    height: var(--squareWH);

    user-select: none;
}

/* Borders */
.one, .four, .seven {
    border-right: var(--borderPxSize) var(--primaryBorderColor) solid;
}
.three, .six, .nine {
    border-left: var(--borderPxSize) var(--primaryBorderColor) solid;
}

.one, .two, .three {
    border-bottom: var(--borderPxSize) var(--primaryBorderColor) solid;
}
.four, .five, .six {
    border-bottom: var(--borderPxSize) var(--primaryBorderColor) solid;
}

/* x icon */
.x {
    width: 70px;
    user-select: none;
}
.x:hover {
    transform: scale(1.02);
}

/* o icon */
.o {
    width: 78px;
    height: 78px;

    border-radius: 50%;
    border: 10px solid var(--XOcolor);
}
.o:hover {
    transform: scale(1.02);
}


/* SCOREBOARD */
.scoreboard {
    width: 500px;
    height: 75px;

    background-color: var(--secondBGcol);
    margin-top: 10px;
    outline: 3px solid var(--secondaryBorderColor);
}


/* MODAL AND OVERLAY */
.hidden {
    display: none !important;
}

.modal, .overlay {
    width: 100%;
    height: 100%;
}

.overlay {
    z-index: 1;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    backdrop-filter: blur(2px);
}
.modal {
    z-index: 2;

    position: absolute;
    top: 25%;
    left: 0; 
    right: 0; 
    margin-inline: auto; 

    width: 350px;
    height: 300px;
    padding: 8px;

    background-color: var(--primaryBGcol);
    outline: 4px solid var(--secondaryBorderColor);

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(179, 157, 112);
    font-weight: bold;
}

.logo {
    font-size: 2rem;
}
.text {
    font-size: 1.05rem;
    margin-top: 8px;
}
.continue-btn {
    margin-top: 1rem;
}

/* Team Btns */
.btn-container {
    width: 100%;
    height: 180px;

    padding: 3px;

    display: flex;
    align-items: center;
    gap: 5px;
}
.btn {
    width: 50%;
    height: 95%;

    background-color: var(--secondBGcol);

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
/* No hover for symbols */
.btn .x:hover {
    transform: scale(1);
}
.btn .o:hover {
    transform: scale(1);
}

.btn:hover {
    background-color: var(--hoverColor);
    transform: scale(1.01);
}
.btn:active {
    background-color: var(--activeColor);
}
.continue-btn {
    padding: 8px;
    user-select: none;

    border-radius: 5px;
    background-color: var(--secondBGcol);
}
.continue-btn:hover {
    background-color: var(--hoverColor);

    transform: scale(1.05);
}
.continue-btn:active {
    background-color: var(--activeColor);
}